<a href="https://colab.research.google.com/github/lee-j-j/LJJ/blob/main/ex01_%EB%94%A5%EB%9F%AC%EB%8B%9D_%EB%A7%9B%EB%B3%B4%EA%B8%B0(%ED%95%99%EC%83%9D%EC%84%B1%EC%A0%81%EC%98%88%EC%B8%A1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%cd "/content/drive/MyDrive/Colab Notebooks/사물지능A"

/content/drive/MyDrive/Colab Notebooks/사물지능A

In [4]:
!ls

 data
'ex00_티쳐블머신활용 동물분류하기.ipynb'
'ex01_딥러닝 맛보기(학생성적예측).ipynb'

### 데이터 로딩

In [5]:
import pandas as pd

In [8]:
data = pd.read_csv("./data/student-mat.csv", delimiter= ";")

In [9]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [10]:
X = data[['studytime']]

In [11]:
y = data['G3']

In [12]:
print(X.shape , y.shape)

(395, 1) (395,)

### 모델링
- 모델생성
- 모델학습
- 모델예측
- 모델평가

In [14]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer, Dense

In [16]:
# 모델 생성

model = Sequential()
model.add(InputLayer(input_shape=(1,)))
model.add(Dense(units=2, activation='sigmoid'))
model.add(Dense(units=1, activation='linear'))

In [18]:
# 모델 학습

model.compile(loss='mse', optimizer='sgd')
model.fit(X,y,epochs = 20)

Epoch 1/20
13/13 [==============================] - 1s 3ms/step - loss: 81.7738
Epoch 2/20
13/13 [==============================] - 0s 3ms/step - loss: 34.0160
Epoch 3/20
13/13 [==============================] - 0s 2ms/step - loss: 23.4473
Epoch 4/20
13/13 [==============================] - 0s 2ms/step - loss: 21.3916
Epoch 5/20
13/13 [==============================] - 0s 2ms/step - loss: 20.9666
Epoch 6/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8457
Epoch 7/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8614
Epoch 8/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8770
Epoch 9/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8564
Epoch 10/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8516
Epoch 11/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8556
Epoch 12/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8535
Epoch 13/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8408
Epoch 14/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8382
Epoch 15/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8555
Epoch 16/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8402
Epoch 17/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8434
Epoch 18/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8701
Epoch 19/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8298
Epoch 20/20
13/13 [==============================] - 0s 2ms/step - loss: 20.8396